        header {
           text-align: center;
           padding:10px;
        }

        .title {
            color:rgb(237, 8, 8);
        }
        body {

        }
        
        .logo {
            width: 200px;
            
        }

        .Table {display: table;
	width: 100%;}
        
        .cell {
            border: 1px solid #999999;
            width:25%;
        }
        
        .row {
	        display: flex;
            }
        
        .cell {
            margin:20px;
            padding:10px;
            text-align: center;
        }

       .cake {
            width: 300px;
	    height: 200px;
       }

	.source {text-align: center; color: #000;}
		
.ninth {
            margin:20px;
            padding:10px;
            text-align: center;
            border: 1px solid;
            width:25%;
             margin-left:300px;
            margin-right: 300px;}

.tenth {
            margin:20px;
            padding:10px;
            text-align: center;
            border: 1px solid;
            width:25%;
             margin-left:50px;
            margin-right: 200px;}
